<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>TheElmers GitHub</title>
  </head>

  <body>
    <header>
      <a href="../index.html">
        <h1>Thomas Elmerup</h1>
        <h2>Hur man bygger en äppelpaj</h2>
      </a>
      <nav>
        <ul>
          <li><a href="../index.html">Portfolio</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
    </header>

    <section>
      <article>
        <h3>Vad är en äpplepaj?</h3>
        <p>
          Text från <a href="https://sv.wikipedia.org/wiki/%C3%84ppelkaka">Äppelkaka</a>
        </p>
          <blockquote>Äppelkaka är en vanlig efterrätt, en kaka, som innehåller äpplen som huvudingrediens. Vaniljsås serveras ofta till äppelkaka. Äppelkaka kan göras med smuldeg eller pajdeg.
          I Finland bakade man på 1800-talet en knaprig äppelkaka med rågsmak av riven sötsur limpa och äppelmos.</blockquote>
        <img src="../img/appelpaj-med-kanel.jpg" alt="Äppelpaj" />
      </article>

      <article>
        <h3>Hur gör man en äppelpaj?</h3>
        <p>
          Det kan behövas en hel del förberedelser för att göra en sådan här paj. Tid kan ta dagar beroende på vart du bor.
        </p>
          <ol>
            <li>
              Börja med att ta sig till ett valfrit äppelträd i slutet på sommaren. Plocka en handful äpplen. Kan vara bra att se sig om, kan hända att trädet står på någon annans tomt.
              När dom är plockade gå sakta där ifrån som inget har hänt. Gå raka vägen hem.
            </li>
            <li>
              Väl hemma. Slå på ungen på 225 grader. Ring sedan på hos grannen och be om följade ingredienser:
              <ul>
                <li>1 pajform</li>
                <li>1 1/2 dl vetemjöl</li>
                <li>2 1/2 dl socker</li>
                <li>1 msk kanel</li>
                <li>100g smör (inte margarin. Its not good for you!)</li>
              </ul>
            </li>
            <li>
              <h4>Fyllning:</h4>
              <p>
                Skölj, Kasta äpplena sedan hårt mott vägen. Skrapa seda upp dom krossade äpplena och lägg det i en smord ugnssäker form. Strö över 1 dl socker och 1 msk kanel och blanda runt.
              </p>
            </li>
            <li>
              <h4>Pajdeg:</h4>
              <p>
                Blanda de torra ingredienserna till pajdegen. Arbeta in matfettet till en deg. Ta degen och kasta den hårt över äpplena i fromen så att det bildar ett lock över äpplena. Grädda den sedan i ugnen, ca 25 min tills den är gyllenbrun.
              </p>
            </li>
          </ol>
      </article>
    </section>

    <footer>
      &copy; den snabba äpplepajen
    </footer>
  </body>
</html>
